*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore Firebase config
google-services.json

# Ignore Android signing keys
*.jks
*.keystore

# Ignore local Gradle properties (where you might store keystore passwords)
gradle.properties
.serviceKey

key.pem
.key.pem
cert.pem
.cert.pem
express/node_modules
express/serviceAccountKey.json
express/.env
